<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="irdevelopers.asemanweb2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MainApp"
         >
        <activity
            android:name="irdevelopers.asemanweb2.MainActivity"
            android:label="@string/MainActivity"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="irdevelopers.asemanweb2.QuestionsActivity"
            android:label="@string/title_activity_simple_content_viewer"
            >
        </activity>
        <activity
            android:name="irdevelopers.asemanweb2.RigesterActivity"
            android:label="@string/title_activity_rigester"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="irdevelopers.asemanweb2.NewsActivity"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="irdevelopers.asemanweb2.NewsGroupPickerActivity"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="irdevelopers.asemanweb2.WebActivity"
            android:label="@string/title_activity_web"
            android:screenOrientation="portrait" >
        </activity>
        <service android:name="irdevelopers.asemanweb2.CheckForUpdateService" />
        <service
            android:name="irdevelopers.asemanweb2.NotificationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="irdevelopers.asemanweb2.WatchDogNotification"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="irdevelopers.asemanweb2.WatchDogService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="irdevelopers.asemanweb2.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="irdevelopers.asemanweb2.MainActivity" />
        </activity>
        <activity
            android:name="irdevelopers.asemanweb2.TamasBaMaActivity"
            android:label="@string/title_activity_tamas_ba_ma"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="irdevelopers.asemanweb2.MainPagesWebActivity"
            android:label="@string/title_activity_main_pages_web"
            android:parentActivityName="irdevelopers.asemanweb2.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="irdevelopers.asemanweb2.AllNewsActivity"
            android:label="@string/title_activity_all_news"
            >

        </activity>
    </application>

</manifest>
